@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-Semibold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-SemiboldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* line 1, ../scss/_style.scss */
html, body {
  height: 100%;
}

/* line 5, ../scss/_style.scss */
body {
  background: white;
  background-size: 100%, 100%;
  -webkit-background-size: 100%, 100%;
  -moz-background-size: 100%, 100%;
  background-repeat: no-repeat;
}

/*
 *
 * Helpers
 *
 */
/* line 20, ../scss/_style.scss */
.padding-20 {
  padding: 20px;
}

/* line 24, ../scss/_style.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 28, ../scss/_style.scss */
.dropshadow {
  background: white;
  -webkit-box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
}

/* line 34, ../scss/_style.scss */
.isUrl {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* line 40, ../scss/_style.scss */
.show-grid [class^=span] {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

/* line 43, ../scss/_style.scss */
#removeAccount {
  margin-top: 50px;
}

/*
 *
 * General
 *
 */
/* line 54, ../scss/_style.scss */
#wrap {
  min-height: 100%;
  padding-bottom: 50px;
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.1);
}

/* line 60, ../scss/_style.scss */
.maxime {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 67, ../scss/_style.scss */
.row, .row-fluid {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Open sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
 *
 * Design by view
 *
 */
/* line 82, ../scss/_style.scss */
.view-homepage #wrap {
  background: white;
}

/* line 82, ../scss/_style.scss */
.view-user_profile #wrap {
  background: #e74c3c;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #e74c3c), color-stop(100%, #c0392b));
  background: -webkit-radial-gradient(#e74c3c, #c0392b);
  background: -moz-radial-gradient(#e74c3c, #c0392b);
  background: -o-radial-gradient(#e74c3c, #c0392b);
  background: radial-gradient(#e74c3c, #c0392b);
}

/* line 82, ../scss/_style.scss */
.view-user_profile_edit #wrap {
  background: #3498db;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #3498db), color-stop(100%, #2980b9));
  background: -webkit-radial-gradient(#3498db, #2980b9);
  background: -moz-radial-gradient(#3498db, #2980b9);
  background: -o-radial-gradient(#3498db, #2980b9);
  background: radial-gradient(#3498db, #2980b9);
}

/*
 *
 * Blocks
 *
 */
/* line 97, ../scss/_style.scss */
.profile_picture {
  text-align: center;
  position: relative;
  border-bottom: #3498DB 5px solid;
  z-index: 10;
}
@media only screen and (max-width: 766px) {
  /* line 97, ../scss/_style.scss */
  .profile_picture {
    display: none;
  }
}
/* line 105, ../scss/_style.scss */
.profile_picture .imgPlaceholder {
  background: #D6D6D6;
}
/* line 107, ../scss/_style.scss */
.profile_picture .imgPlaceholder i {
  color: white;
  font-size: 15em;
  font-size: 15vw;
}

/* line 116, ../scss/_style.scss */
.story .editable {
  font-weight: 400;
}

/* line 119, ../scss/_style.scss */
.personal_info {
  position: relative;
}
/* line 121, ../scss/_style.scss */
.personal_info .edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
  background: #3498DB;
  background: -webkit-linear-gradient(top, #3498db, #3498db);
  background: -moz-linear-gradient(top, #3498db, #3498db);
  background: -o-linear-gradient(top, #3498db, #3498db);
  background: -ms-linear-gradient(top, #3498db, #3498db);
  background: linear-gradient(top, #3498db, #3498db);
  -webkit-box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: top .5s ease;
  -moz-transition: top .5s ease;
  -o-transition: top .5s ease;
  -ms-transition: top .5s ease;
  transition: top .5s ease;
}
/* line 153, ../scss/_style.scss */
.personal_info h2 {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 160, ../scss/_style.scss */
footer {
  background: #2c5f85;
  box-shadow: inset 0 5px 5px -3px rgba(0, 0, 0, 0.5);
  color: #e8e8e8;
}
/* line 164, ../scss/_style.scss */
footer div[class^=span] {
  padding: 10px;
}

/*
 *
 * Elements
 *
 */
/* line 174, ../scss/_style.scss */
.login {
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 3px;
  margin: 10px auto;
  min-width: 45px;
  overflow: hidden;
  font-size: 35px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.35);
  color: white;
  display: inline-block;
  background-image: -webkit-radial-gradient(bottom right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
  background-image: -moz-radial-gradient(bottom right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
  background-image: -o-radial-gradient(bottom right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
  background-image: -ms-radial-gradient(bottom right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
  background-image: radial-gradient(bottom right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
/* line 198, ../scss/_style.scss */
.login span {
  -webkit-transition: all 1s .6s linear;
  -moz-transition: all 1s .6s linear;
  -o-transition: all 1s .6s linear;
  -ms-transition: all 1s .6s linear;
  transition: all 1s .6s linear;
  max-width: 0;
  display: inline-block;
  overflow: hidden;
  height: 35px;
  padding: 2px 0;
}
/* line 211, ../scss/_style.scss */
.login:hover span {
  padding-left: 25px;
  padding-right: 10px;
  max-width: 200px;
}
/* line 216, ../scss/_style.scss */
.login.login-facebook {
  background-color: #3B5998;
}
/* line 219, ../scss/_style.scss */
.login.login-google {
  background-color: #DC4A39;
}
/* line 222, ../scss/_style.scss */
.login.login-github {
  background-color: #333;
}
/* line 225, ../scss/_style.scss */
.login.login-twitter {
  background-color: #499ADB;
}
/* line 228, ../scss/_style.scss */
.login.login-linkedin {
  background-color: #076A9B;
}

@media (max-width: 1150px) {
  /* line 2, ../scss/_media_queries.scss */
  table td {
    width: 100%;
  }
}
