@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-Semibold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url(/fonts/OpenSans-SemiboldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* line 2, ../scss/_style.scss */
.show-grid [class^=span] {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

/* line 5, ../scss/_style.scss */
html, body {
  height: 100%;
}

/* line 9, ../scss/_style.scss */
body {
  background: white;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  background-size: 100%, 100%;
  -webkit-background-size: 100%, 100%;
  -moz-background-size: 100%, 100%;
  background-repeat: no-repeat;
}

/*
*
* Design by view
*
*/
/* line 28, ../scss/_style.scss */
.view-homepage {
  background: white;
}

/* line 31, ../scss/_style.scss */
.view-user_profile #wrap {
  background: -webkit-radial-gradient(#e74c3c, #c0392b);
  background: -moz-radial-gradient(#e74c3c, #c0392b);
  background: -o-radial-gradient(#e74c3c, #c0392b);
  background: -ms-radial-gradient(#e74c3c, #c0392b);
  background: radial-gradient(#e74c3c, #c0392b);
}

/* line 38, ../scss/_style.scss */
.view-user_profile_edit #wrap {
  background: -webkit-radial-gradient(#3498db, #2980b9);
  background: -moz-radial-gradient(#3498db, #2980b9);
  background: -o-radial-gradient(#3498db, #2980b9);
  background: -ms-radial-gradient(#3498db, #2980b9);
  background: radial-gradient(#3498db, #2980b9);
}

/*
*
* End Design by view
*
*/
/* line 51, ../scss/_style.scss */
#wrap {
  min-height: 100%;
  padding-bottom: 50px;
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.1);
}

/* line 57, ../scss/_style.scss */
.maxime {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 61, ../scss/_style.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 66, ../scss/_style.scss */
.row, .row-fluid {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Open sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 74, ../scss/_style.scss */
.padding-20 {
  padding: 20px;
}

/* line 77, ../scss/_style.scss */
.dropshadow {
  background: white;
  -webkit-box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
}

/* line 83, ../scss/_style.scss */
.isUrl {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* line 91, ../scss/_style.scss */
.profile_picture {
  text-align: center;
  position: relative;
  border-bottom: #3498DB 5px solid;
  z-index: 10;
}
@media only screen and (max-width: 766px) {
  /* line 91, ../scss/_style.scss */
  .profile_picture {
    display: none;
  }
}
/* line 99, ../scss/_style.scss */
.profile_picture .imgPlaceholder {
  background: #D6D6D6;
}
/* line 101, ../scss/_style.scss */
.profile_picture .imgPlaceholder i {
  color: white;
  font-size: 15em;
}

/* line 108, ../scss/_style.scss */
.story .editable {
  font-weight: 400;
}

/* line 111, ../scss/_style.scss */
.personal_info {
  position: relative;
}
/* line 113, ../scss/_style.scss */
.personal_info .edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
  background: #3498DB;
  background: -webkit-linear-gradient(top, #3498db, #3498db);
  background: -moz-linear-gradient(top, #3498db, #3498db);
  background: -o-linear-gradient(top, #3498db, #3498db);
  background: -ms-linear-gradient(top, #3498db, #3498db);
  background: linear-gradient(top, #3498db, #3498db);
  -webkit-box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: top .5s ease;
  -moz-transition: top .5s ease;
  -o-transition: top .5s ease;
  -ms-transition: top .5s ease;
  transition: top .5s ease;
}
/* line 145, ../scss/_style.scss */
.personal_info h2 {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 152, ../scss/_style.scss */
footer {
  background: #2c5f85;
  box-shadow: inset 0 5px 5px -3px rgba(0, 0, 0, 0.5);
  color: #e8e8e8;
}
/* line 156, ../scss/_style.scss */
footer div[class^=span] {
  padding: 10px;
}

@media (max-width: 1150px) {
  /* line 2, ../scss/_media_queries.scss */
  table td {
    width: 100%;
  }
}
