@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* line 3, ../scss/_style.scss */
.show-grid [class^=span] {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

/* line 6, ../scss/_style.scss */
body {
  background: white;
  -webkit-transition: backgroundImage 1s ease;
  -moz-transition: backgroundImage 1s ease;
  -o-transition: backgroundImage 1s ease;
  -ms-transition: backgroundImage 1s ease;
  transition: backgroundImage 1s ease;
  background-size: 100%, 100%;
  -webkit-background-size: 100%, 100%;
  -moz-background-size: 100%, 100%;
  background-repeat: no-repeat;
}
/* line 18, ../scss/_style.scss */
body.view-homepage {
  background: white;
}
/* line 21, ../scss/_style.scss */
body.view-user_profile {
  background-image: -webkit-radial-gradient(#e74c3c, #c0392b);
  background-image: -moz-radial-gradient(#e74c3c, #c0392b);
  background-image: -o-radial-gradient(#e74c3c, #c0392b);
  background-image: -ms-radial-gradient(#e74c3c, #c0392b);
  background-image: radial-gradient(#e74c3c, #c0392b);
}

/* line 30, ../scss/_style.scss */
.maxime {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 34, ../scss/_style.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 39, ../scss/_style.scss */
.row, .row-fluid {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Open sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 47, ../scss/_style.scss */
.padding-20 {
  padding: 20px;
}

/* line 50, ../scss/_style.scss */
.dropshadow {
  background: white;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
}

/* line 57, ../scss/_style.scss */
.profile_picture {
  text-align: center;
}
@media only screen and (max-width: 766px) {
  /* line 57, ../scss/_style.scss */
  .profile_picture {
    display: none;
  }
}
/* line 62, ../scss/_style.scss */
.profile_picture img {
  width: 100%;
  height: auto;
}

/* line 68, ../scss/_style.scss */
.personal_info {
  position: relative;
  overflow: hidden;
}
/* line 71, ../scss/_style.scss */
.personal_info .edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
  background: #3498DB;
  background: -webkit-linear-gradient(top, #3498db, #3498db);
  background: -moz-linear-gradient(top, #3498db, #3498db);
  background: -o-linear-gradient(top, #3498db, #3498db);
  background: -ms-linear-gradient(top, #3498db, #3498db);
  background: linear-gradient(top, #3498db, #3498db);
  -webkit-box-shadow: 0 9px 7px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 9px 7px -4px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: top .5s ease;
  -moz-transition: top .5s ease;
  -o-transition: top .5s ease;
  -ms-transition: top .5s ease;
  transition: top .5s ease;
}
/* line 103, ../scss/_style.scss */
.personal_info h2 {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
