@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* line 3, ../scss/ghana.scss */
.show-grid [class^=span] {
  border: 1px solid red;
}

/* line 8, ../scss/ghana.scss */
.maxime {
  max-width: 1200px;
  margin: 0 auto;
}
