<template name="user_profile">
  <div class="span3 dropshadow">
    <div class="profile_picture">

      <div class='imgPlaceholder'>
        <i class="icon-user icon-5"></i>
      </div>
    </div>
    <div class="personal_info padding-20">
     {{#if isCurrentUser}}
     <div class="edit">Edit Profile</div>
     {{/if}}
     <h2 class='capitalize editable' data-name='profile.front_name'>{{user.profile.front_name}}</h2>
     <table class="table">
      <tbody>
        {{#if user.profile.real_name}}
        <tr>
          <td>Real Name</td>
          <td data-name='real_name'>{{user.profile.real_name}} </td>
        </tr>
        {{/if}}
        {{#if user.profile.website}}
        <tr>
          <td>Website</td>
          <td>{{user.profile.website}}</td>
        </tr>
        <tr>
          {{/if}}
          <td>Points</td>
          <td>{{user.profile.points}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="span9  dropshadow">

</div>
</template>

