<template name="user_profile">
  {{#with user}}
  <div class="span3 dropshadow left-sidebar">
    <div class="profile_picture">

      <div class='imgPlaceholder'>
        <i class="icon-user icon-5 "></i>
      </div>
    </div>
    <div class="personal_info padding-20">
     {{#if isCurrentUser}}
     <div class="edit">Edit Profile</div>
     {{/if}}
     <h2 class='capitalize editable' data-name='profile.front_name'>{{clean profile.front_name}}</h2>

     {{> profile_partial}}

   </div>
 </div>
 <div class="span9 dropshadow content">

 </div>
 {{/with}}
</template>


<template name='profile_partial'>


  <div class="row-fluid lead story">
    <div class="span12">
      {{#if isEditingMode profile.real_name}}
      My name is <span data-name='profile.real_name' class='editable' title="Real Name" data-original-title="Your real name, don't be shy!">{{profile.real_name}}</span>
      {{/if}}
      {{#if isEditingMode profile.title}}
      and I'm <span class="editable" data-name='profile.title' title='Job title' data-original-title="Your current position.">{{aOrAn profile.title}}</span>
      {{/if}}
      {{#if isEditingMode profile.location}}
      {{#if profile.title}}
      living in <span class='editable' data-name='profile.location' title='Current location' data-original-title="Which country/city are you spending most of your time?">{{profile.location}}</span>
      {{else}}
      I live in <span class='editable' data-name='profile.location' title='Current location' data-original-title="Which country/city are you spending most of your time?">{{profile.location}}</span>
      {{/if}}
      .
      {{/if}}
      {{#if isEditingMode profile.company}}
      I currently work for
      {{#if isEditingMode profile.company_feeling}}
      the <span class='editable' id="feelings" data-type="typeahead" data-name='profile.company_feeling' title='How do you feel about your company' data-original-title='How do you feel about your company'>{{profile.company_feeling}}</span>
      {{/if}}
      <span class="editable"data-name='profile.company' title='Company you are currently working for' data-original-title="The company who currently pay you to watch cats' video.">{{profile.company}}</span>.
      {{/if}}
    </div>
  </div>

  {{#if isEditingMode profile.about}}
  <div class="row-fluid lead">
    {{#if isEditingMode}}
    <div class="span12">
      About:
    </div>
    <div class="span12">
      <div data-type='textarea' class='editable' data-name='profile.about'>{{textarea profile.about}}</div>
    </div>
    {{else}}
    <div class="span12">
      {{textarea profile.about}}
    </div>
    {{/if}}
  </div>
  {{/if}}



  {{#if isEditingMode profile.website}}
  <div class="row-fluid">
    <div class="span6">
      Website:
    </div>
    <div class="span6">
      <a href='{{url profile.website}}' class='editable url' data-name='profile.website' data-shorten='middle'>{{profile.website}}</a>
    </div>
  </div>
  {{/if}}


  <div class="row-fluid">
    <div class="span6">
      Points:
    </div>
    <div class="span6">
      {{points}}
    </div>
  </div>

  {{#if isEditingMode}}
  <div class="row-fluid">
    <div class="span12">
      <div class="btn-danger btn btn-small" id='removeAccount'>
        Remove your account
      </div>
    </div>
  </div>
  {{/if}}
</template>


<template name='user_profile_edit'>
  {{#with user}}
  <div class="span3 dropshadow left-sidebar">
    <div class="profile_picture">

      <div class='imgPlaceholder'>
        <i class="icon-user icon-5 "></i>
      </div>
    </div>
    <div class="personal_info padding-20">
     {{#if isCurrentUser}}
     <div class="edit">Finish Editing</div>
     {{/if}}
     <h2 class='capitalize editable' data-name='profile.front_name'>{{profile.front_name}}</h2>
     {{> profile_partial}}

   </div>
 </div>
 <div class="span9 dropshadow content">

 </div>
 {{/with}}
</template>