html, body {
  height: 100%;
}

body{
  background:white;
  background-size:100%, 100%;
  -webkit-background-size:100%, 100%;
  -moz-background-size:100%, 100%;
  background-repeat: no-repeat;
}


/*
 *
 * Helpers
 *
 */

 .padding-20{
  padding:20px;
}

.capitalize{
  text-transform:capitalize;
}

.dropshadow{
  background:white;
  -webkit-box-shadow:0 2px 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow:0 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.isUrl{
  color:blue;
  text-decoration: underline;
  cursor:pointer;
}

.show-grid [class^=span]{
  border:1px solid rgba(0,0,0,.4);
}
#removeAccount{
  margin-top: 50px;
}


/*
 *
 * General
 *
 */

 #wrap {
  min-height: 100%;
  padding-bottom:50px;
  box-shadow: inset 0 -3px 1px rgba(0,0,0,.1);
}

.maxime{
  max-width:$max-container-width;
  margin:0 auto;
}



.row, .row-fluid{
  font-size:16px;
  line-height:1.5em;
  font-family:'Open sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
 *
 * Design by view
 *
 */
$pages: homepage white, user_profile #e74c3c #c0392b, user_profile_edit #3498db #2980b9;

@each $page in $pages {
  .view-#{nth($page, 1)} #wrap {
    background:nth($page, 2);
    @if(length($page) == 3){
      @include background(radial-gradient(nth($page, 2), nth($page, 3)))
    }
  }
}


/*
 *
 * Blocks
 *
 */

 .profile_picture{
  text-align:center;
  position: relative;
  border-bottom:#3498DB 5px solid;
  z-index: 10;
  @media only screen and(max-width:766px){
    display:none;
  }
  .imgPlaceholder{
    background:#D6D6D6;
    i{
      color:white;
      font-size:15em;
      // fluid font
      font-size: 15vw;
    }
  }

}
.story .editable{
  font-weight:400;
}
.personal_info{
  position:relative;
  .edit{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;

    background:#3498DB;
    background: -webkit-linear-gradient(top, #3498DB, #3498DB);
    background: -moz-linear-gradient(top, #3498DB, #3498DB);
    background: -o-linear-gradient(top, #3498DB, #3498DB);
    background: -ms-linear-gradient(top, #3498DB, #3498DB);
    background: linear-gradient(top, #3498DB, #3498DB);

    -webkit-box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.2);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition:top .5s ease;
    -moz-transition:top .5s ease;
    -o-transition:top .5s ease;
    -ms-transition:top .5s ease;
    transition:top .5s ease;
  }
  h2{
    text-align:center;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

footer{
  background:#2c5f85;
  box-shadow:inset 0 5px 5px -3px rgba(0,0,0,.5);
  color:#e8e8e8;
  div[class^=span]{
    padding: 10px;
  }
}

/*
 *
 * Elements
 *
 */
 .login{
  cursor:pointer;
  font-weight:bold;
  text-transform:capitalize;
  padding:5px;
  border-radius:3px;
  margin:10px auto;
  min-width: 45px;
  // max-width:60px;
  overflow:hidden;
  font-size:35px;
  text-shadow: 0 -1px rgba(0,0,0,.35);
  color:white;
  display:inline-block;

  background-image: -webkit-radial-gradient(bottom right, rgba(255,255,255,.3), rgba(0, 0,0,.3));
  background-image: -moz-radial-gradient(bottom right, rgba(255,255,255,.3), rgba(0, 0,0,.3));
  background-image: -o-radial-gradient(bottom right, rgba(255,255,255,.3), rgba(0, 0,0,.3));
  background-image: -ms-radial-gradient(bottom right, rgba(255,255,255,.3), rgba(0, 0,0,.3));
  background-image: radial-gradient(bottom right, rgba(255,255,255,.3), rgba(0, 0,0,.3));


  -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.25);
  box-shadow:0px 1px 1px rgba(0,0,0,0.25);
  span{
    -webkit-transition: all 1s .6s linear;
    -moz-transition: all 1s .6s linear;
    -o-transition: all 1s .6s linear;
    -ms-transition: all 1s .6s linear;
    transition: all 1s .6s linear;
    max-width: 0;
    display: inline-block;
    overflow:hidden;
    // same as font size, it doesnt auto scale
    height: 35px;
    padding: 2px 0;
  }
  &:hover span{
    padding-left: 25px;
    padding-right:10px;
    max-width:200px;
  }
  &.login-facebook{
    background-color:#3B5998;
  }
  &.login-google{
    background-color:#DC4A39;
  }
  &.login-github{
    background-color:#333;
  }
  &.login-twitter{
    background-color:#499ADB;
  }
  &.login-linkedin{
    background-color:#076A9B;
  }
}

