<template name='sign_in'>
  <form action="action" id='sign_up_form' class='form-horizontal'>
  <fieldset>
    <legend>Sign In</legend>

    <div class="control-group">
      <label class="control-label" for="inputId">Email or Username</label>
      <div class="controls">
        <input type="text" name='id' id='inputId' placeholder="Email or Username">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="text" id="inputPassword" placeholder="Password" name='password'>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox"> Remember me
        </label>
        <button type="submit" class="btn">Sign In</button>
      </div>
    </div>

  </fieldset>
</form>
</template>

<template name='sign_up'>
 <form action="action" id='sign_up_form' class='form-horizontal'>
  <fieldset>
    <legend>Sign Up</legend>

    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <input type="text" name='email' id='inputEmail' placeholder="Email">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputUsername">Username</label>
      <div class="controls">
        <input type="text" id="inputUsername" placeholder="Username" name='username'>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password" name='password'>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign Up</button>
      </div>
    </div>
  </fieldset>
</form>
</template>

<template name='authTabs'>
{{#unless currentUser}}
  <ul class="nav nav-tabs" id="authTab">
    <li class="active">
      <a href="#sign_in">Sign In</a>
    </li>
    <li>
      <a href="#sign_up">Sign Up</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="sign_in">
      {{> sign_in}}
    </div>
    <div class="tab-pane" id="sign_up">
      {{> sign_up}}
    </div>
  </div>
{{/unless}}
</template>




